[alias]
        cloner = !~/bin/git-cloner
        branch-purge = !git branch --merged main --no-contains main --format='%(refname:short)' | xargs -r git branch --delete
        # ATTENTION: All aliases prefixed with ! run in /bin/sh make sure you use sh syntax, not bash/zsh or whatever
        branch-recent = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/master}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/master}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind||branch|lastcommit|message|author\\n\" && cat) | column -ts'|';}; r"
        co =!convco commit
        f = !~/bin/git-forest
        ls = "!f() { git log $1 --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cgreen [%ae,%ar]\" --decorate --graph; }; f"
        cleanup = "!COMMAND=\"git branch -D\"; while [[ $# -gt 0 ]]; do case \"$1\" in -d|--dryrun) COMMAND=\"echo\"; shift; ;; *) MAIN_BRANCH=\"$1\"; shift;; esac; done; MAIN_BRANCH=\"${MAIN_BRANCH:-$(git symbolic-ref refs/remotes/origin/HEAD)}\"; git for-each-ref --merged=\"$MAIN_BRANCH\" --no-contains=\"$MAIN_BRANCH\" --format=\"%(refname:short)\" refs/heads/ | xargs -n1 -r $COMMAND;#"

[core]
        excludesfile = ~/.gitignore
[pull]
        rebase = false
[push]
        autoSetupRemote = true

